@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700;900&display=swap");

:root {
	--color-bg: #1e2140;
	--color-txt: #d7e0ff;
	--color-bg-dark: #151932;
	--color-bg-light: #292d53;
	--color-txt-dark: #595d76;
	--color-primary: #f87070;
	--color-secondary: #72f1f7;
	--color-tertiary: #d982f7;
	--color-selected: var(--color-primary);
	--color-modal-txt: #191a2b;
	--color-modal-txt-light: #9f9ea4;
	--color-modal-input-bg: #eef1fa;
	--width-modal-form: 32rem;
	--width-modal-form-mobile: 85%;
}

html {
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-bg);
	color: var(--color-txt);
	font-family: "Open Sans", sans-serif;
}

.center {
	width: 25rem;
	height: 100%;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: auto;
	grid-template-rows: min-content min-content min-content 1fr;
}

h1 {
	text-align: center;
}

.status {
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	background-color: var(--color-bg-dark);
	color: var(--color-txt-dark);
	text-align: center;
	font-weight: 600;
	border-radius: 4rem;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.status__phase {
	width: max-content;
	margin: 0rem;
	padding: 1rem 1rem 1rem 1rem;
}

.status__phase--active {
	border-radius: 4rem;
	background-color: var(--color-selected);
	color: var(--color-bg-dark);
}

.progress-ring {
	position: absolute;
	margin: auto;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	height: 80%;
	width: 80%;
}

.progress-ring__circle {
	stroke: var(--color-selected);
	stroke-width: 0.2rem;
	fill: transparent;
	stroke-linecap: round;
	transform-origin: 50% 50%;
	transform: rotate(-90deg);
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
}

.timer__outer-gradient {
	filter: drop-shadow(-3rem -3rem 2rem var(--color-bg-light));
}

.timer__inner-gradient {
	clip-path: circle();
	background: linear-gradient(
		145deg,
		var(--color-bg-dark) 20%,
		var(--color-bg-light) 80%
	);
	padding: 1.5rem;
}

.timer {
	clip-path: circle();
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	background-color: var(--color-bg-dark);
}

.timer__time {
	padding: 2rem;
	letter-spacing: -0.05rem;
	margin-top: 3.5rem;
	margin-bottom: 5rem;
	text-align: center;
	font-weight: 700;
	font-size: 4.4rem;
}
.timer__btn {
	left: 50%;
	top: 70%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: transparent;
	border: none;
	color: var(--color-txt);
	text-transform: uppercase;
	letter-spacing: 0.7rem;
}

.settings {
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.settings__gear {
	height: 5vh;
	fill: var(--color-txt-dark);
	margin-bottom: 2rem;
}

.modal {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	justify-content: center;
	align-items: center;
	background-color: hsla(240, 30.4%, 9%, 0.51);
}

.modal__form {
	position: relative;
	background-color: white;
	width: var(--width-modal-form);
	border-radius: 2rem;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px var(--color-modal-input-bg) solid;
	padding: 0rem 2rem 0rem 2rem;
}

.modal__title {
	color: var(--color-modal-txt);
}

.modal__cancel {
	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__cancel__icon {
	height: 1rem;
	fill: var(--color-modal-txt-light);
}

.modal__body {
	padding: 0rem 2rem 2rem 2rem;
}

.modal__section {
	font-weight: 700;
	display: flex;
	flex-direction: row;
	border-bottom: 1px var(--color-modal-input-bg) solid;
	padding: 1rem 0rem 1rem 0rem;
	justify-content: space-between;
}

.section__time {
	flex-direction: column;
}

.section__font {
}

.section__color {
	border: none;
}

.modal__subheading {
	font-size: 0.9rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	color: var(--color-modal-txt);
}

.modal__times {
	display: flex;
	flex-direction: rows;
	justify-content: space-between;
}

.time {
	position: relative;
	width: 8.5rem;
	display: flex;
	flex-direction: column;
}

.time__label {
	font-size: 0.8rem;
	color: var(--color-modal-txt-light);
	padding: 0.5rem 0rem;
}
.time__input {
	background-color: var(--color-modal-input-bg);
	border: none;
	font-weight: 600;
	padding: 1rem;
	border-radius: 0.75rem;
	-moz-appearance: textfield;
}

.time__input::-webkit-inner-spin-button,
.time__input::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.time__input--btn {
	position: absolute;
	background-color: transparent;
	border: none;
	right: 0.5rem;
}

.time__up {
	bottom: 1rem;
}

.time__down {
	bottom: 0.2rem;
}

.arrow__up,
.arrow__down {
	width: 1rem;
}

.modal__radio {
	display: none;
}

.radio__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 10rem;
}

.label__radio {
	display: flex;
	justify-content: center;
	align-items: center;
	clip-path: circle();
	padding: 0.6rem;
}

.label__font {
	color: var(--color-modal-txt);
	background-color: var(--color-modal-input-bg);
}

input[type="radio"]:checked + .label__font {
	background-color: var(--color-modal-txt);
	color: white;
}

.label__open {
	font-family: "Open Sans", sans-serif;
}

.label__roboto {
	font-family: "Roboto Slab", sans-serif;
}

.label__source {
	font-family: "Source Serif Pro", serif;
}

.label__tick {
	padding: 0.1rem;
	width: 1.1rem;
}

input[type="radio"]:checked + label .label__tick {
	fill: var(--color-modal-txt);
}

.label--primary {
	background-color: var(--color-primary);
}

.label--secondary {
	background-color: var(--color-secondary);
}

.label--tertiary {
	background-color: var(--color-tertiary);
}

.modal__apply {
	width: 10rem;
	position: absolute;
	color: white;
	background-color: var(--color-selected);
	border: none;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.2rem;
	font-weight: 600;
	bottom: -2rem;
	left: calc(var(--width-modal-form) / 2 - 5rem);
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 600px) {
	.center {
		width: 90%;
	}

	.status {
		font-size: 0.83rem;
	}

	.modal {
		height: 100%;
	}

	.modal__form {
		width: var(--width-modal-form-mobile);
	}

	.modal__section {
		flex-direction: column;
		align-items: center;
	}
	.modal__times {
		flex-direction: column;
		justify-content: space-between;
	}

	.time {
		position: relative;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0rem 0rem 0.5rem 0rem;
	}

	.time__input {
		width: 40%;
		padding: 1rem;
		border-radius: 0.75rem;
		-moz-appearance: textfield;
	}

	.time__up {
		bottom: 1.5rem;
	}

	.time__down {
		bottom: 0.7rem;
	}
}
